<link rel="stylesheet" href="/jstree/themes/default/style.min.css" />
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/jstree/jstree.min.js"></script>
<p>categories</p>
<div id="jstree_demo_div">

	<ul>
		{% for i1 in arrayTree %}
			<li data-itemid="{{i1.id}}" data-edithref="{{ path('blastar_admin_cms_edit', {'id': i1.id}) }}" data-removehref="{{ path('blastar_admin_cms_remove', {'id': i1.id}) }}">
				{{i1.name}}
				{% if i1.__children is defined and i1.__children|length > 0 %}
					<ul>
						{% for i2 in i1.__children %}
							<li data-itemid="{{i2.id}}" data-edithref="{{ path('blastar_admin_cms_edit', {'id': i2.id}) }}" data-removehref="{{ path('blastar_admin_cms_remove', {'id': i2.id}) }}">
								{{i2.name}}
								{% if i2.__children is defined and i2.__children|length > 0 %}
									<ul>
										{% for i3 in i2.__children %}
											<li data-itemid="{{i3.id}}" data-edithref="{{ path('blastar_admin_cms_edit', {'id': i3.id}) }}" data-removehref="{{ path('blastar_admin_cms_remove', {'id': i3.id}) }}">
												{{i3.name}}
											</li>
											{% endfor %}
									</ul>
								{% endif %}								
							</li>
							{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
	</ul>

</div>


<a href="#" onclick="ser();
		return false;">xxx</a>


<script>
	var selectedNodeId = '';
	$(function () {
		$('#jstree_demo_div').jstree({
			"core": {
				"check_callback": true
			},
			"plugins": ["contextmenu"],
			"contextmenu": {
				"items": function ($node) {
					var tree = $("#jstree_demo_div").jstree(true);
					return {
						"Create": {
							"separator_before": false,
							"separator_after": false,
							"label": "Create",
							"action": function (obj) {
								document.location.href = '{{ path('blastar_admin_cms_edit', {'id': 0}) }}/'+$('#' + selectedNodeId).attr('data-itemid');
							}
						},
						"Edit": {
							"separator_before": false,
							"separator_after": false,
							"label": "Edit",
							"action": function (obj) {
								document.location.href = $('#' + selectedNodeId).attr('data-edithref');
							}
						},
						"Remove": {
							"separator_before": false,
							"separator_after": false,
							"label": "Remove",
							"action": function (obj) {
								document.location.href = $('#' + selectedNodeId).attr('data-removehref');
							}
						}
					};
				}
			}
		});
	});
	$('#jstree_demo_div').on("changed.jstree", function (e, data) {
		selectedNodeId = data.selected;
	});
	function ser() {
		console.log('serialize');
		var json = $("#jstree_demo_div").jstree(true).get_json();
		console.log(json);
	}
</script>